services:
  - type: web
    name: gwinsetech-website
    env: static
    buildCommand: ""
    staticPublishPath: .
    routes:
      - type: rewrite
        source: /*
        destination: /Default.html

